
//variables
$font_2 : 'Frank Ruhl Libre', serif;
$font_1 : 'Open Sans', sans-serif;

$color_1 : #1161c0;
$color_2 : #151514;

$color_1_hover: #0f4c94;

@import 'sass/components/footer';
@import 'sass/components/section-carreras';
@import 'sass/pages/contacto';

#menu_checkbox{
    display: none !important;

    &:checked{

        & ~ .content-nav{
            opacity: 1;
            visibility: visible;
            display: flex;
        }

        & + .icon-menu{
        
            div{
                background: white;

                &:first-child{
                    top: -3px;
                    left: 1px;
                    transform: rotateZ(45deg);
                    width: 37px;
                }

                &:last-of-type{
                    top: 26px;
                    right: 10px;
                    transform: rotateZ(45deg);
                    opacity: 0;
                }

                &:nth-child(2){
                    width: 37px;
                    top: 0px;
                    right: 4px;
                    transform: rotateZ(-45deg);
                }

            }
        }
    }
}

.icon-menu{
    position: absolute;
    display: none;
    width: 28px;
    height: 25px;
    cursor: pointer;
    right: 20px;
    top: 50%;
    z-index: 30;
    transform: translateY(-50%);

    span{
        display: none;
    }

    div{
        position: relative;
        top: 0;
        width: 100%;
        height: 5px;
        border-radius: 6px;
        background-color: black;
        margin-bottom: 5px;
        transition: 0;

        &:first-child{
            transform-origin: 0;
        }

        &:last-of-type{
            margin-bottom: 0;
            transform-origin: 60px;
            transition: 0s;
        }

        &:nth-child(2){
            width: 24px;
            margin-left: auto;
        }
   }
}


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.notice-error{
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 14px;
    line-height: 15px;
    padding: 10px 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    opacity: 0;
    transition: .3s;
    font-weight: 500;
}

.disabled{
    opacity: .5;
    pointer-events: none;
}

//componentes  
.title__primary{
    font-size: 56px;
    line-height: 56px;
    font-family: $font_2;
    font-weight: 500;
}

.title__secondary{
    font-size: 46px;
    line-height: 46px;
    font-family: $font_2;
    font-weight: 500;
}

body{
    background: #f7f6f4;
}

header{
    background: white;
    padding: 34px 0;
    box-shadow: 0 0 10px 0px #00000099;

    .container{
        display: flex;
        align-items: center;
        position: relative;
        
        .logo{
            margin-right: 50px;

            img{
                font-family: $font_2;
                font-size: 24px;
                line-height: 28px;
                width: 230px;
            }
        }

        .content-nav{
            display: flex;
            flex: 1;
            align-items: center;
        }

        nav{
            display: flex;
            a{
                font-size: 16px;
                line-height: 24px;
                font-family: $font_2;
                margin-right: 30px;
                font-weight: 700;
                position: relative;

                &:before{
                    content: '';
                    height: 2px;
                    width: 0;
                    position: absolute;
                    left: 0;
                    bottom: -5px;
                    background: $color_2;
                    transition: .3s;
                }

                &:hover,
                &.active{
                    &:before{
                        width: 100%;
                    }
                }
            }
        }

        .button{
            margin-left: auto;
        }
    }
}


.hero{
    height: 500px;

    .carousel-control{
        &-prev, 
        &-next{
            background: black;
            width: 120px;

            &-icon{
                filter: invert(0) grayscale(100);
            }
        }
    }

    .carousel,
    .carousel-inner{
        height: 100%;
    }

    .carousel-item{
        height: 100%;

       img{
        height: 100%;
        object-fit: cover;
        width: 100%;
       }
    }
}

.about-us{
    padding-top: 100px;
    padding-bottom: 50px;
    
    .container{
        display : flex;
        align-items: center;

        .media{
            width: 640px;

            img{
                width: 100%;
            }
        }

        .data{
            padding-left: 50px;
            width: calc(100% - 640px);
            
            .title__primary{
                margin-bottom: 30px;
            }
    
            .button{
                margin-top: 20px;
                display: inline-flex;
            }
        }
        
    }
}

//botones
.button{
    font-size: 14px;
    line-height: 22px;
    font-weight: bold;
    font-family: $font_2;
    padding: 13px 24px;
  

    &__primary{
        color: white;
        background: $color_1;
        transition: .3s;


        &:hover{
            background: $color_1_hover;
        }
    }
    &__secundary{
        color: white;
        background: $color_1;
        transition: .3s;
      
  
     

        &:hover{
            background: $color_1_hover;
        }
    }
}


#testimonios{
    padding: 80px 0;
    padding-bottom: 100px;

    .container{
        max-width: 900px;
        position: relative;
        text-align: center;

        .title__primary{
            margin-bottom: 50px;
        }

        .swiper-pagination{
            bottom: -40px;
            display: flex;
            justify-content: center;
            align-items: center;

            .swiper-pagination-bullet{
                width: 12px;
                height: 12px;
                transition: .3s;
                margin: 0 8px;

                &-active{
                    background: $color_1;
                    width: 15px;
                    height: 15px;
                }
            }
        }

        .swiper-slide{
            p.desc{
                font-size: 22px;
                line-height: 36px;
                text-align: center;
                font-family: $font_2;
            }

            .person{
                display: flex;
                flex-direction: column;
                margin-top: 30px;

                .author{
                    font-weight: bold;
                    margin-bottom: 2px;
                    font-family: $font_2;
                    font-size: 20px;
                    line-height: 22px;
                }

                .position{
                    color: #84867F;
                    font-size: 15px;
                }
            }
        }
    }
}


#Novedades_video{
    padding: 30px 0;
    padding-bottom: 50px;

    .container{
        max-width: 900px;
        position: relative;
        text-align: center;

        .title__primary{
            margin-bottom: 50px;
        }

        .swiper-pagination{
            bottom: -40px;
            display: flex;
            justify-content: center;
            align-items: center;

            .swiper-pagination-bullet{
                width: 12px;
                height: 12px;
                transition: .3s;
                margin: 0 8px;

                &-active{
                    background: $color_1;
                    width: 15px;
                    height: 15px;
                }
            }
        }

        .swiper-slide{
            p.desc{
                font-size: 22px;
                line-height: 36px;
                text-align: center;
                font-family: $font_2;
            }

            .person{
                display: flex;
                flex-direction: column;
                margin-top: 30px;

                .author{
                    font-weight: bold;
                    margin-bottom: 2px;
                    font-family: $font_2;
                    font-size: 20px;
                    line-height: 22px;
                }

                .position{
                    color: #84867F;
                    font-size: 15px;
                }
            }
        }
    }
}


#title-block{
    padding: 80px 0;
    text-align: center;
}


@media (max-width: 950px) {
    .icon-menu{
        display: block;
    }

    header {
        padding: 20px 0;

        .container{
            .content-nav{
                position: fixed;
                flex-wrap: wrap;
                top: 0;
                left: 0;
                width: 100%;
                height: 100vh;
                margin: 0;
                padding: 0;
                background: linear-gradient(
                    1.07deg, rgba(15,49,82,0.94) 27.81%, rgba(15,49,82,0.88) 98.95%);
                        -webkit-backdrop-filter: blur(4px);
                backdrop-filter: blur(4px);
                visibility: hidden;
                opacity: 0;
                transition: .3s;
                display: none;
                z-index: 10;
            }

            .logo{
                img{
                    width: 160px;
                }
            }

            nav {
                width: 100%;
                flex-direction: column;
                color: white;
                text-align: center;
                border: none;

                a{
                    margin: 0;
                    margin-bottom: 20px;
                    color: white !important;

                    &:before{
                        content: none;
                    }

                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }

            .button {
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}


@media (max-width: 800px) {

    #title-block{
        padding: 60px 0;
    }

    .title__primary{
        font-size: 42px;
        line-height: 42px;
    }

    .title__secondary{
        font-size: 35px;
        line-height: 35px;
    }
 

    #testimonios{ 
        padding: 60px 0;
        padding-bottom: 80px;

        .container{

            .title__primary {
                margin-bottom: 30px;
            }

            .swiper-slide{
                p.desc{
                    font-size: 18px;
                    line-height: 28px;
                }

                .person{
                    .author{
                        font-size: 18px;
                        line-height: 28px;
                    }
                }
            }
        }
    }

    .about-us {
        padding-top: 60px;
        padding-bottom: 20px;
        
        .container{
            flex-direction: column-reverse;
    
            .data{
                padding: 0;
                width: 100%;
                margin-bottom: 40px;
                text-align: center;
            }

            .media{
                width: 100%;
                max-width: 380px;
            }
        }
    }
}

@media (max-width: 499px) {

    .hero{
        height: 420px;
    
        .carousel-control{
            &-prev, 
            &-next{
                width: 40px;
            }
        }
    }

    #title-block {
        padding: 40px 0;
    }

    body{
        font-size: 15px;
        line-height: 22px;
    }

    .title__primary {
        font-size: 28px;
        line-height: 28px;
    }
    
    .title__secondary {
        font-size: 22px;
        line-height: 22px;
    }

    #testimonios {
        padding: 40px 0;
        padding-bottom: 60px;
    }

   

    #testimonios .container {
        .title__primary{
            margin-bottom: 20px;
        }

        .swiper-slide p.desc{
            font-size: 16px;
            line-height: 24px;
        }
    }
}

