.title__primary {
  font-size: 56px;
  line-height: 56px;
  font-family: "Frank Ruhl Libre", serif;
  font-weight: 500;
}

header {
  background: white;
  padding: 34px 0;
}

header .container {
  display: flex;
  align-items: center;
}

header .container .logo {
  margin-right: 70px;
}

header .container .logo h1 {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 24px;
  line-height: 28px;
}

header .container nav {
  display: flex;
}

header .container nav a {
  font-size: 16px;
  line-height: 24px;
  font-family: "Frank Ruhl Libre", serif;
  margin-right: 30px;
  font-weight: 700;
  position: relative;
}

header .container nav a:before {
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  left: 0;
  bottom: -5px;
  background: #151514;
  transition: .3s;
}

header .container nav a:hover:before {
  width: 100%;
}

header .container .button {
  margin-left: auto;
}

.hero {
  height: 500px;
}

.hero .carousel-control-prev,
.hero .carousel-control-next {
  background: black;
  width: 120px;
}

.hero .carousel-control-prev-icon,
.hero .carousel-control-next-icon {
  filter: invert(0) grayscale(100);
}

.hero .carousel,
.hero .carousel-inner {
  height: 100%;
}

.hero .carousel-item {
  height: 100%;
}

.hero .carousel-item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.button {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  font-family: "Frank Ruhl Libre", serif;
  padding: 13px 24px;
}

.button__primary {
  color: white;
  background: #1161c0;
  transition: .3s;
}

.button__primary:hover {
  background: #0f4c94;
}

#testimonios {
  padding: 80px 0;
  padding-bottom: 100px;
}

#testimonios .container {
  max-width: 900px;
  position: relative;
  text-align: center;
}

#testimonios .container .title__primary {
  margin-bottom: 50px;
}

#testimonios .container .swiper-pagination {
  bottom: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#testimonios .container .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  transition: .3s;
  margin: 0 8px;
}

#testimonios .container .swiper-pagination .swiper-pagination-bullet-active {
  background: #1161c0;
  width: 15px;
  height: 15px;
}

#testimonios .container .swiper-slide p.desc {
  font-size: 22px;
  line-height: 36px;
  text-align: center;
  font-family: "Frank Ruhl Libre", serif;
}

#testimonios .container .swiper-slide .person {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

#testimonios .container .swiper-slide .person .author {
  font-weight: bold;
  margin-bottom: 2px;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 20px;
  line-height: 22px;
}

#testimonios .container .swiper-slide .person .position {
  color: #84867F;
  font-size: 15px;
}

@media (max-width: 800px) {
  .title__primary {
    font-size: 42px;
    line-height: 42px;
  }

  #testimonios {
    padding: 60px 0;
    padding-bottom: 80px;
  }

  #testimonios .container .title__primary {
    margin-bottom: 30px;
  }

  #testimonios .container .swiper-slide p.desc {
    font-size: 18px;
    line-height: 28px;
  }

  #testimonios .container .swiper-slide .person .author {
    font-size: 18px;
    line-height: 28px;
  }
}

@media (max-width: 499px) {
  .title__primary {
    font-size: 28px;
    line-height: 28px;
  }

  #testimonios {
    padding: 40px 0;
    padding-bottom: 60px;
  }

  #testimonios .container .title__primary {
    margin-bottom: 20px;
  }

  #testimonios .container .swiper-slide p.desc {
    font-size: 16px;
    line-height: 24px;
  }
}


#novedades {
  padding: 10px 0;
  
}

.noticias {
  margin: 130px;
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

.elementor-row {
  width: 100%;
  display: webkit-box;
  display: flex;


}

.elementor-element {
  text-align: left;
  max-width: 84.31%;
}

.elementor-widget-wrap {
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;

}

.elementor-element.elementor-element-f7bddfe {
  width: 51%;
}

/*# sourceMappingURL=style.css.map */